<li class="nav-item">
  <a href="/posts" class="nav-link <%= active?(posts_path) %>">Entries</a>
</li>

<li class="nav-item">
  <a href="/posts/new" class="nav-link <%= active?(new_post_path) %>" , id="new_post_from_nav">Request Overtime</a>
</li>
