<div class="row">
  <div class="container column col-md-6">
    <div class="pending-homepage">
      <h2 class="text-center">Items Pending Your Approval</h2>
      <hr />
      <div class="container">
        <p>hello</p>
      </div>
    </div>
  </div>
  
  <div class="container column col-md-6">
    <div class="pending-homepage">
      <h2 class="text-center">Items Pending Your Approval</h2>
      <hr />
      <div class="container">
        <p>hello</p>
      </div>
    </div>
  </div>
</div>