.container-fluid
  padding: 0

.pending-homepage
  border-radius: 0.25rem
  background-color: #f2f2f2
  margin-top: 1rem
  margin-bottom: 1rem
  padding: 1rem

.btn-multiline
  word-wrap: break-word
  white-space: normal
  display: inline-flex

.card
  margin: 1.2em 0
